body{
    background-color:#ffecce;
    border: 1px solid lightgray;
    border-collapse: collapse;
    font-family: 'Times New Roman', Times, serif;

}
.text{
    background-color: darkred;
    border: 1px solid black;
    color: white;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    padding: 2px;
    margin: 1px;
    text-align: center;
}
td{
    border: 1px solid lightgray;
    width: 5%;
    text-align: left;
    border-collapse: collapse;
    font-size: 15px;
}

      






